/* .pathinfo {

} */

#pathinfo ul, li, a {
  justify-content: center;
  /* display: block; */
  width: fit-content;
  font-size: x-large;
  color: white;
  /* text-decoration: solid underline; */
}

.containers {
  display: flex;
  flex-wrap: wrap;
}

.writeup {
  /* max-width: 80%; */
  padding: 3rem 0;
  flex: 1 2 80%;
  /* min-width: 70%; */
  /* flex-wrap: wrap; */
  background-color: rgb(140, 153, 153);
}

.writeup p { 
  color: rgb(162, 120, 34);
}

.writeup img {
  padding-left: 5%;
  max-width: 50%;
  max-height: auto;
}

.colleges {
  /* flex-wrap: wrap; */
  flex: 1 1 20%;
  background-color: rgb(113, 149, 149);
  /* min-width: 200px; */
  /* max-width: auto; */
  /* max-height: fit-content; */
}

.colleges li {
  /* background-color: aquamarine; */
  color: black;
  padding: 10% 10%;
  /* margin-bottom: 33%; */
}

.colleges a {
  color: white;
}