.header {
  width: 100%;
  height: 5rem;
  display: flex;
  font-weight: 750;
  justify-content: left;
  align-items: center;
  background-color: #333f3f;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.377);
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 4rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}
