.header {
  /* width: 100%; */
  height: fit-content;
  min-height: 5rem;
  display: flex;
  font-weight: 750;
  justify-content: left;
  align-items: center;
  background-color: #333f3f;
}

.logo {
  /* font-size: 1.5rem; */
  /* font-weight: 800; */
  color: rgba(25, 116, 155, 0.377);
}

.nav {
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: table;
  margin: 0;
  padding: 0;
}

.nav li {
  /* display: table; */
  display: inline-block;
  justify-content: space-between;
  margin-left: 4rem;
  font-size: 1.25rem;
}

.nav ul li {
  /* display: inline-block; */
  float: left;
  /* position: relative; */
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}
